@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

main{
    padding-top:92px ;
    font-family: 'Montserrat', sans-serif;
    
}
.inicio h1{
    font-style: normal;
    line-height: 62px;
    font-size: 48px;
    color: #cbccd1;
    font-weight: 600;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 5px;

    
    
}
p{
    text-indent: 10px;
}

h1::after{
    content: "";
    height: 4px;
    width: 150px;
    background-color: #1d406e;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.inicio div{
    height: 92vh;
    background-image: url("accets/smartphone-6265046_1920.jpg");
    background-repeat: no-repeat;
    margin-top: -25px;
    background-size: cover;
    background-position: center center ;
    
}
h1{
    text-align: justify;
    font-weight: 400;
    font-size: 48px;
    color: #425161;
}

.container2-mp{
    display: flex;
    align-items: center;
}
.container2 svg{
    max-width: 32px;
    max-width: 32px;
}
.container2 h2{
    margin-left: 10px ;
}



.svg-MQ{
    display: flex;
    align-items: center;
    
}
.svg-MQ svg{
    max-width: 32px;
    max-width: 32px;
}
.svg-MQ svg{
    max-width: 32px;
    max-width: 32px;
}
.svg-MQ h2{
    margin-left: 10px ;
}

.svg-MM{
    display: flex;
    align-items: center;
    
}
.svg-MM svg{
    max-width: 32px;
    max-width: 32px;
}
.svg-MM h2{
    margin-left: 10px ;
}
.svg-CD{
    display: flex;
    align-items: center;
    
}
.svg-CD svg{
    max-width: 32px;
    max-height: 32px;
}
.svg-CD h2{
    margin-left: 10px ;
}

#MP svg{
    fill: #1d406e;
}
#MQ svg{
    fill: #1d406e;
}
#MM svg{
    fill: #1d406e;
}
#CD svg{
    fill: #1d406e;
}
#insta svg{
    margin-right: 5px ;
}

.img-smile{
    display: flex;
    align-items: center;
}
.img-smile img{
    width: 50px;
    height: 50px;
    margin: 0;
    
}
.conteudo2 p{
    height: 170px;

}


h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
#sobre{
    background-size:cover;
}
.conteudo-p{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: start;
    margin-left: 5%;
    margin-top: 3%;

}

.containerh2{
    display: flex;
    margin-left: 5% ;
    margin-top: -3%;
    
}

.texto-mv h2, p{
    width: 100%;
}
.texto-mv{
    max-width: 250px;
    max-height: 180px;
}
.texto-mv p{
    font-size: 15px;
    line-height: 28px;
   
}



#sobre{
    height: 95vh;
}
.img-computador{
    width: 500px;
    max-height: 400px;
    margin: 0 auto;
    padding-top: 10px;
}
.conteudo-p img{
    width: 100%;
}

.conteudo-texto p{
   max-width: 600px;
   text-align: justify;
    
    
}

.paragrafo {
    text-align: start;
    font-size: 15px;
    line-height: 28px;
    max-width: 500px;
    
}
.flex-mv{
    display: inline-block;
}


.container2 p{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #90a1b3;
    
}
.containerh2{
    padding-bottom: 3%;
}



.img-grande{
    width: 400px;
    height: 600px;
    display: none;
    
}
.img-pequena{
    display: none;
}



.conteudo2{
    display: flex;
    flex-wrap: wrap;
    padding-top:75px ;
    padding-bottom:75px ;
    background-color: #1d2a37;
    min-height: 100vh;
    color: white;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
    align-items: center;
}
.carrossel{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}







.container2{
    margin: 5px auto;
    max-width: 300px;
}

.p-app-web{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight:bold;
    font-size: 36px;
    line-height: 48px;
    color: #425161;
    padding-top: 30px;
    padding-bottom:10px ;
}
.p-app-web b{
    color:#1e69a2;
}
.p2-app-web{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.container2-mp{
    display:flex;
    align-items: center;
}


.img-computador-mobile{
    display: none;
    width: 600px;
    margin: 0 auto;
    
}
.img-computador-mobile img{
    width: 100%;
    
}



.imagem1{
    width: 1000px;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 50px;
    border-radius: 5px;
}

.imagem1 ul{
    display: flex;
    list-style: none;
    width: 5000px ;
    height: 480px;
}

.imagem1 ul img{
    max-width: 1000px;
    max-height: 500px;
}

.imagem1 li{
    position: relative;
    animation: slide1 50s infinite ease-in-out;
   
}
.imagem2{
    width: 250px;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 50px;
    border-radius: 10px;
    display: none;
}
.imagem2 ul{
    display: flex;
    list-style: none;
    width: 1000px ;
    height: 500px;
}

.imagem2 ul img{
    max-width: 250px;
    max-height: 1000px;
}
.imagem2 li{
    position: relative;
    animation: slide2 15s infinite ease-in-out;}


.imagem3{
        width: 800px;
        max-height: 400px;
        overflow: hidden;
        position: relative;
        box-shadow: 10px 10px 15px black;
        margin-bottom: 50px;
        border-radius: 5px;
        display: none;
        background-color: black;
        
        
    }
    
.imagem3 ul{
        display: flex;
        list-style: none;
        width: 4000px ;
        height: 500px;
    }
    
.imagem3 ul img{
        max-width: 800px;
        min-height: 400px;
    }
    
.imagem3 li{
        position: relative;
        animation: slide3 15s infinite ease-in-out;
       
    }

.img-whatsapp{
    max-width: 80px;
    max-height: 80px;
    
}


@keyframes slide1 {

    0%{left: 0px}
    10%{left: 0px}

    20%{left: -1000px}
    30%{left: -1000px}

    40%{left: -2000px}
    50%{left: -2000px}

    60%{left: -3000px}
    70%{left: -3000px}

    80%{left: -4000px}
    90%{left: -4000px}

    100%{left: 0px;}

    
}
@keyframes slide2 {

    0%{left: 0px}
    10%{left:0px}

    20%{left: -250px}
    30%{left: -250px}

    40%{left: -500px}
    50%{left: -500px}

    60%{left: -750px}
    70%{left: -750px}

    80%{left: -1000px}
    90%{left: -1000px}

    100%{left: 0px;}

    
}

@keyframes slide3 {

    0%{left: 0px}
    10%{left: 0px}

    20%{left: -800px}
    30%{left: -800px}

    40%{left: -1600px}
    50%{left: -1600px}

    60%{left: -2400px}
    70%{left: -2400px}

    80%{left: -3200px;}
    90%{left: -3200px;}

    100%{left: 0px;}

    
}
.contato{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.contato{
    text-align: center;
    padding-bottom: 30px;

}
.contato li{
    list-style: none;
    text-decoration: none;
    
}
.contato li a{
    color: black;
}
.contato ul, li,a,img{  
    display: flex;
    vertical-align: center;
    margin: 0 auto;
    align-items:center;
}
.contato a, img{
    justify-content: center;
    text-align: center;
}
.contato img{
    width: 25x;
    height: 25px;
}
       
footer{
 display: flex;
 width: 100%;
 margin: 0 auto;
 text-align: center;
 background-color: #2b3c4c ;
 color: #ffffff;
 height: 300px;
}
footer p{
    width: 100%;
    text-align: center;
    margin-top: 145px;
    margin-bottom: 145px ;
}



@media (max-width:1000px){
    .img-computador-mobile{
        display: block;
    }
    .img-computador img{
        display: none;
    }

    .paragrafo{
        width: 100%;
    }

    .conteudo-p{
        max-width:600px;
        margin: 0 auto;
        display: block;
    }
    .texto-mv p{
        width: 100%;
    }
    .texto-mv svg{
        margin-top: 30%;
    }
    .texto-mv{
        
        width: 110px;
        margin: 0 auto;
        padding-bottom:25% ;
    }
    .imagem1{
        display: block;
    }
    .imagem1{
        display: none;
    }
    .imagem2{
        display: none;
    }
    .imagem3{
        display: block;
    }
    
}

@media (max-width:500px){
    
    .imagem1{
        display: none;
    }
    .imagem2{
        display: block;
    }
    .imagem3{
        display: none;
    }

    
    .conteudo-texto {
        text-align: justify;
        box-sizing: border-box;
        max-width: 400px;
        margin: 25px;
    }
    .conteudo-p{
        display: block;
    }
    .paragrafo{
        max-width: 400px;
    }
    .texto-mv p{
        width: 100%;
    }
    .texto-mv{
        width: 150px;
        margin: 0 auto;
    }
    #sobre{
        height: 100%;
    }

    .img-computador-mobile img{
        width: 100%;
    }

    .img-computador-mobile{
        width: 400px;
    }
    
}
