@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

main{
    padding-top:92px ;
    font-family: 'Montserrat', sans-serif;
    
}

p{
    text-indent: 10px;
    
}


.inicio div{
    
    background-image: url("accets/Imagem-background.jpeg");
    background-repeat: no-repeat;
    margin-top: -50px;
    background-size: cover;
    background-position: center center ;
    
    
}


h1{
    text-align: justify;
    font-weight: 400;
    font-size: 48px;
    color: #425161;
    
}

h1::after{
    content: "";
    height: 4px;
    width: 320px;
    background-color: #1d406e;
    display: block;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.texto-img h4 ul{
    position: absolute;
}
#inicio h4{
    padding-top: 300px ;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: whitesmoke;
    max-width: 600px;
    margin-left: 30px;
    
}
#inicio ul {
    max-width: 300px;  
    margin-left: 30px;
    list-style: none;
    text-decoration: none;
}
#inicio ul li{
    border: solid 1px;
    max-width: 300px;
    font-family: 'Montserrat', sans-serif  ;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    height: 50px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
#inicio ul li:hover{
    background-color: black;
    transition-duration:2s ;
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    height: 52px;
}
#inicio a:hover{
    color: white;
    list-style: none;
    text-decoration: none;
}
#inicio a{
    list-style: none;
    text-decoration: none;
}

.container2-mp{
    display: flex;
    align-items: center;
}
.container2 svg{
    max-width: 32px;
    max-width: 32px;
    
}
.container2 h2{
    margin-left: 10px ;
   
}


.svg-MQ{
    display: flex;
    align-items: center;
    
}
.svg-MQ svg{
    max-width: 32px;
    max-width: 32px;
}
.svg-MQ svg{
    max-width: 32px;
    max-width: 32px;
}
.svg-MQ h2{
    margin-left: 10px ;
}

.svg-MM{
    display: flex;
    align-items: center;
    
}
.svg-MM svg{
    max-width: 32px;
    max-width: 32px;
}
.svg-MM h2{
    margin-left: 10px ;
}
.svg-CD{
    display: flex;
    align-items: center;
    
}
.svg-CD svg{
    max-width: 32px;
    max-height: 32px;
}
.svg-CD h2{
    margin-left: 10px ;
}

#MP svg{
    fill: #1d406e;
}
#MQ svg{
    fill: #1d406e;
}
#MM svg{
    fill: #1d406e;
}
#CD svg{
    fill: #1d406e;
}
#insta svg{
    margin-right: 5px ;
}

.img-smile{
    display: flex;
    align-items: center;
}
.img-smile img{
    width: 50px;
    height: 50px;
    margin: 0;
    
}
.conteudo2 p{
    height: 170px;

}
h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
#sobre{
    background-size:cover;  
}
.conteudo-p{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: start;
    margin-left: 5%;
    margin-top: 100px;
    padding-top: 20px;

}

.containerh2{
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    
    
}

.texto-mv h2, p{
    width: 100%;
}
.texto-mv{
   padding-top: 10px;
   max-height: 180px;

}
.texto-mv p{
    font-size: 15px;
    line-height: 28px;
   
}
.computadorgrande img{
    width: 100%;
    display: block;
}
.computadorgrande {
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    
}

.p2-app-web {
    padding-bottom: 30px;
}
.conteudo-p img{
    width: 100%;
    margin-right: 10%;
}



.paragrafo {
    text-align: start;
    font-size: 15px;
    line-height: 28px;
    padding-bottom: 10px;
    max-width: 75vw;
}



.container2 p{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #90a1b3;
}

.containerh2{
    padding-bottom: 3%;
}
.img-grande{
    width: 400px;
    height: 600px;
    display: none;
    
}
.img-pequena{
    display: none;
}



.conteudo2{
    display: flex;
    flex-wrap: wrap;
    background-color: #1d2a37;
    
    color: white;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
    align-items: center;
}
.carrossel{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#projeto{
    margin-top: 5%;
   
    
}


.container2{
    margin: 5px auto;
    max-width: 300px;

}

.p-app-web{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight:bold;
    font-size: 36px;
    line-height: 48px;
    color: #425161;
    padding-top: 30px;
    padding-bottom:10px ;
}
.p-app-web b{
    color:#1e69a2;
}
.p2-app-web{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.container2-mp{
    display:flex;
    align-items: center;
}


.img-computador-mobile{
    display: none;
    width: 600px;
    margin: 0 auto;
    
}

.imagem1{
    display: none;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 50px;
    border-radius: 5px;
}

.imagem1 ul{
    display: flex;
    list-style: none;
    width: 5000px ;
    height: 480px;
}

.imagem1 ul img{
    max-width: 1000px;
    max-height: 500px;
}

.imagem1 li{
    position: relative;
    animation: slide1 50s infinite ease-in-out;
   
}
.imagem2{
    display: none;
    width: 250px;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 50px;
    border-radius: 10px;
    display: none;
}
.imagem2 ul{
    display: flex;
    list-style: none;
    width: 1000px ;
    height: 500px;
}

.imagem2 ul img{
    max-width: 250px;
    max-height: 1000px;
}
.imagem2 li{
    position: relative;
    animation: slide2 15s infinite ease-in-out;}


.imagem3{
        display: none;
        width: 800px;
        max-height: 400px;
        overflow: hidden;
        position: relative;
        box-shadow: 10px 10px 15px black;
        margin-bottom: 50px;
        border-radius: 5px;
        display: none;
        background-color: black;
        
        
    }
    
.imagem3 ul{
        display: flex;
        list-style: none;
        width: 4000px ;
        height: 500px;
    }
    
.imagem3 ul img{
        max-width: 800px;
        min-height: 400px;
    }
    
.imagem3 li{
        position: relative;
        animation: slide3 15s infinite ease-in-out;
       
    }

.img-whatsapp{
    max-width: 80px;
    max-height: 80px;
    
}


@keyframes slide1 {

    0%{left: 0px}
    10%{left: 0px}

    20%{left: -1000px}
    30%{left: -1000px}

    40%{left: -2000px}
    50%{left: -2000px}

    60%{left: -3000px}
    70%{left: -3000px}

    80%{left: -4000px}
    90%{left: -4000px}

    100%{left: 0px;}

    
}
@keyframes slide2 {

    0%{left: 0px}
    10%{left:0px}

    20%{left: -250px}
    30%{left: -250px}

    40%{left: -500px}
    50%{left: -500px}

    60%{left: -750px}
    70%{left: -750px}

    80%{left: -1000px}
    90%{left: -1000px}

    100%{left: 0px;}

    
}

@keyframes slide3 {

    0%{left: 0px}
    10%{left: 0px}

    20%{left: -800px}
    30%{left: -800px}

    40%{left: -1600px}
    50%{left: -1600px}

    60%{left: -2400px}
    70%{left: -2400px}

    80%{left: -3200px;}
    90%{left: -3200px;}

    100%{left: 0px;}

    
}
.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato{
    text-align: center;
    padding-bottom: 30px;

}
.contato li{
    list-style: none;
    text-decoration: none;
    
}
.contato li a{
    color: black;
}
.contato ul, li,a,img{  
    display: flex;
    vertical-align: center;
    margin: 0 auto;
    align-items:center;
}
.contato a, img{
    justify-content: center;
    text-align: center;
}
.contato img{
    width: 25x;
    height: 25px;
}
       
footer{
 display: flex;
 width: 100%;
 margin: 0 auto;
 text-align: center;
 background-color: #2b3c4c ;
 color: #72879a;
 height: 300px;
}
footer p{
    width: 100%;
    text-align: center;
    margin-top: 145px;
    margin-bottom: 145px ;
}



@media  (min-width:1050px){
    #inicio{
        height: 100vh;
    }
    #inicio div{
        height: 100vh;
    }
    
    #sobre{
        height: 100vh;
    }
    #projeto{
        height: 100vh;
    }
    #carrossel{
        padding-top: 10%;
        height: 100vh;
    }
    #contato{
        height: 100vh;
    }
    .flex-mv{
        display: flex;
        justify-content: space-around;
        max-width: 75vw;
        height: 100%;
        margin: auto 0;
    }
    .paragrafo {
        text-align: start;
        font-size: 15px;
        line-height: 28px;
        padding-bottom: 10px;
        max-width: 75vw;
    }
    .conteudo-p{
        align-items: center;
        vertical-align: middle;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    
}
    

@media (max-width:1000px){
    
    #inicio div{
        height: 500px;
    }

    *{
        padding: 0;
        margin: 0;

    }
    .nav
    
    
    
    .paragrafo p{
        width: 100%;
        
    }
    .paragrafo{
        width:500px;
    }
    .conteudo-p{
        max-width:400px;
        margin: 0 auto;
        display: block;
        margin-top: 100px ;
    }
    .texto-mv p{
        width: 100%;
    }
    
    .texto-mv{
        width: 300px;
        margin: 0 auto;
    }
    
    
    .contato{
        height: 100vh;
    }
    
    
}
@media (max-width:800px){
   
    .conteudo-texto {
        text-align: justify;
        box-sizing: border-box;
        max-width: 400px;
        margin: 25px;
    }
    .conteudo-p{
        display: block;
    }
    .paragrafo{
        width: 300px;
        margin: 0 auto;
    }
    .texto-mv p{
        width: 100%;
    }
    .texto-mv{
        width: 250px;
        margin: 0 auto;
    }
    #sobre{
        height: 100%;
    }
    #projeto{
        padding:0% ;
        
    }
    .texto-mv{
        padding-top: 40px;
       
     }
    
}

@media (max-width:700px){
    

    
    .conteudo-texto {
        text-align: justify;
        box-sizing: border-box;
        max-width: 400px;
        margin: 25px;
    }
    .conteudo-p{
        display: block;
    }
    .paragrafo{
        max-width: 400px;
    }
    .texto-mv p{
        width: 100%;
    }
    .texto-mv{
        width: 250px;
        margin: 0 auto;
    }
    
    .texto-mv{
        padding-top: 40px;
        
     
     }
    
}

@media (max-width:700px){
    
    .imagem1{
        display: none;
    }
    .imagem2{
        display: block;
    }
    .imagem3{
        display: none;
    }

    
    .conteudo-texto {
        text-align: justify;
        box-sizing: border-box;
        max-width: 400px;
        margin: 25px;
    }
    .conteudo-p{
        display: block;
    }
    .paragrafo{
        max-width: 400px;
    }
    .texto-mv p{
        width: 100%;
    }
    .texto-mv{
        width: 250px;
        margin-left:25px ;
    }
    

    .img-computador-mobile img{
        width: 100%;

    }

    .img-computador-mobile{
        width: 400px;
    }
    .texto-mv{
        padding-top: 40px;
        
     
     }
    
     


    
}


