@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    height: 100vh;
}

main{
    padding-top:92px ;
    max-width: 98%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    
}
h1{
    text-align: justify;
    font-weight: bold;
    font-size: 48px;
    text-indent: 15px; 
}
h2{
    text-indent: 15px; 
}
scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }


.conteudo-p{
    
   display: flex;
   vertical-align: top;

}
.paragrafo {
    text-align: start;
    font-size: 15px;
    line-height: 28px;
    width: 100%px;
}
.conteudo-texto{
    max-width: 500px;
}



.flex{
    display: flex;
}

.containerMV{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 28px;
    justify-content: space-between;
    width: 100%;
    

}
.containerh2{
    
    width: 100%;
    
}

.img-grande{
    width: 400px;
    height: 600px;
    display: none;
    
}
.img-pequena{
    display: none;
}
.img-computador-text{
    display: flex;

}

.containerh2, h2{
    max-width: 300px;
    margin-top: 30px;

    
}
.conteudo2{
    display: flex;
    flex-wrap: wrap;
    padding-top:75px ;
}
.carrossel{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}



.conteudo-texto, .containerMV{
    width: 100%;
    margin: 0 auto;
}

.img-computador img{
    width: 100%;
    
    
    
}
.img-computador{
    width: 100%;
    margin: 0 auto;
    margin-top:-255px;
}
.container2{
    margin: 5px auto;
    max-width: 300px;
}
.imagem1{
    width: 1000px;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 50px;
    border-radius: 5px;
    
    
}

.imagem1 ul{
    display: flex;
    list-style: none;
    width: 4000px ;
    height: 500px;
}

.imagem1 ul img{
    max-width: 1000px;
    max-height: 500px;
}

.imagem1 li{
    position: relative;
    animation: slide1 15s infinite ease-in-out;
   
}
.imagem2{
    width: 400px;
    height: 800px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 50px;
    border-radius: 5px;
    display: none;
}
.imagem2 ul{
    display: flex;
    list-style: none;
    width: 48000px ;
    height: 800px;
}

.imagem2 ul img{
    max-width: 4800px;
    max-height: 800px;
}
.imagem2 li{
    position: relative;
    animation: slide2 15s infinite ease-in-out;}

.whatsapp{
    
    
}

.img-whatsapp{
    max-width: 80px;
    max-height: 80px;
    
}


@keyframes slide1 {

    0%{left: 0px}
    20%{left:0px}

    30%{left: -1000px}
    40%{left: -1000px}

    50%{left: -2000px}
    60%{left: -2000px}

    70%{left: -3000px}
    80%{left: -3000px}

    100%{left: 0px;}

    
}
@keyframes slide2 {

    0%{left: 0px}
    10%{left:0px}

    20%{left: -400px}
    30%{left: -400px}

    40%{left: -800px}
    50%{left: -800px}

    60%{left: -1200px}
    70%{left: -1200px}

    80%{left: -1600px}
    90%{left: -1600px}

    100%{left: 0px;}

    
}

.contato{
    text-align: center;
    padding-bottom: 30px;

}
.contato li{
    list-style: none;
    text-decoration: none;
    
}
.contato li a{
    color: black;
}
       
footer{
 display: flex;
 width: 100%;
 margin: 0 auto;
 text-align: center;
 background-color: #2b3c4c ;
 
 height: 300px;
}
footer p{
    width: 100%;
    text-align: center;
    margin-top: 145px;
    margin-bottom: 145px ;
}


@media (max-width:1007px){
    
    body{
        width: 100%;
    }

    .conteudo-p{
        width: 100%;
        margin: 0 auto;
    }
    .flex{
        flex-wrap: wrap;       
    }

    .imagem1{
        display: none;
    }
    .imagem2{
        display: block;
    }
    .conteudo-texto{
        width: 100%;
        margin:0 auto;   
    }

    h1{
        text-align: center;
        margin-top: 3%;
    }
    .paragrafo{
        text-align: justify;
        margin: 0 auto;
        flex-basis: 500px;
    }

    .containerMV{
        width: 100%;
        
    }
    .containerh2{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }
    .texto-mv{
        width: 100%;
        margin: 0 auto;;
        
    }
    .div-texto-mw{
        width: 100%;
        justify-content: space-between;
    }
    .img-computador img{
        width: 100%;
        margin: 0 auto;  
    }

}

@media (max-width:1000x){
   p{
        font-size: 45px ;
    }
}

