.whatsapp-link {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    z-index: 1000;
    display: block;

    animation-name: pulsar;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}


@keyframes pulsar{

    0%{height: 65px;
        width: 65px;
    }

    100% {
        height: 85px;
        width: 85px;
    }

}